body {
    background-color: lightblue;
}

.container {
    width: 700px;
    height: 600px;
    /*置中*/
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    box-shadow: 5px 10px 7px gray;
    padding: 20px;
    background-color: white;
}

.fc .fc-toolbar-title {
    color: brown;
    font-size: 40px;
}

.fc th {
    color: blue;
    font-size: 25px;
}